@font-face {
    font-family: "Guessy";
    src: url("/font/guessy4.ttf");
}

@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: local('Carlito'), url('https://fonts.cdnfonts.com/s/19708/Carlito-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LucidaConsole';
    font-style: normal;
    font-weight: 400;
    src: local('LucidaConsole'), url('https://fonts.cdnfonts.com/s/56356/lucon.woff') format('woff');
}

@font-face {
    font-family: "Haiza6";
    src: url("/font/haiza6.ttf");
}

@keyframes new { 100% { filter: grayscale(1); } }
@keyframes gone0 { 100% { opacity: 0%; transform: rotate(180deg) scale(1%); } }
@keyframes gone1 { 100% { opacity: 0%; transform: scale(200%); } }
@keyframes gone2 { 100% { opacity: 0%; transform: rotate(180deg); } }
@keyframes gone3 { 100% { opacity: 0%; } }

html, body {
    margin: auto;
    font-family: "Guessy";
    overflow: hidden;
    background-color: #808080;
    color: white;
}

canvas {
    font-smooth: never;
    -webkit-font-smoothing: none;
    height: 100%;
}

.m {
    position: absolute;
    width: 128px;
    height: 128px;
    outline: none;
    border: none;
    background-color: #FFFFFF40;
}

.m:active {
    background-color: #00000040;
}

.n {
    position: absolute;
    width: 25px;
    height: 20px;
    user-select: none;
    background-color: gray;
    color: white;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    font-family: 'LucidaConsole';
}

.n2 {
    position: absolute;
    height: 20px;
    color: white;
    font-family: 'LucidaConsole';
    text-decoration: underline;
}

#info {
    left: 225px;
    top: 7px;
}

#discord {
    left: 250px;
    top: 7px;
}

#screenshot {
    left: 275px;
    top: 7px;
}

#settings {
    left: 300px;
    top: 7px;
}

#clear {
    left: 325px;
    top: 7px;
}

#up {
    right: 128px;
    bottom: 128px;
}

#left {
    right: 256px;
    bottom: 0px;
}

#down {
    right: 128px;
    bottom: 0px;
}

#right {
    right: 0px;
    bottom: 0px;
}

#shift {
    left: 0px;
    bottom: 0px;
}

.p {
    font-family: 'Lucida Console';
    z-index: 1;
    position: absolute;
    user-select: none;
}

input {
    max-width: 140px;
}

#map {
    left: 5px;
    top: 200px;
}

#air {
    left: 5px;
    top: 225px;
}

#door {
    left: 5px;
    top: 250px;
}

#glass {
    left: 5px;
    top: 275px;
}

#wall {
    left: 5px;
    top: 300px;
}

#liquid {
    left: 5px;
    top: 325px;
}

#dummy {
    left: 5px;
    top: 350px;
}

.uisets button {
    margin-left: 4px;
    background-color: #808080;
    color: white;
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 1px;
}

.uisets button:hover {
    background-color: #AAAAAA;
}

.uisets button:active {
    background-color: #909090;
}

.ui {
    transition: opacity 100ms ease-in-out;
    background-color: #40404080;
    position: absolute;
    /*left: 10px;
    top: 35px;*/
    top: 8px;
    right: 8px;
    width: 512px;
    height: 512px;
    opacity: 25%;
}

.ui:hover { 
    opacity: 100%;
}

.uimenus {
    background-color: #20202040;
    width: 100%;
    height: 32px;
    user-select: none;
}

.uimenus button {
    background-color: #FFFFFF00;
    color: white;
    outline: none;
    border: none;
    margin-left: 8px;
    font-size: 26px;
    font-family: 'Guessy';
    height: 100%;
    transition: 0.3s;
}

.uimenus button:hover {
    transition: 0s;
    background-color: #FFFFFF40;
}

.uimenus button:active {
    transition: 0s;
    background-color: #FFFFFF80;
}

.uimenus button.selected {
    transition: 0s;
    background-color: #FFFFFF60;
}

.uimenus a, a:link, a:visited {
    color: white;
    text-shadow: #000000 1px 1px;
}

.uichat, .uiplayers, .uisets, .uiinfo, .uicrds {
    height: 480px;
    max-height: 480px;
}

.uiplayers p {
    font-family: 'LucidaConsole';
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: #FFFFFF;
    user-select: none;
}

.uisets p, .uiinfo p, .uicrds p, .uisets h3, .uicrds h3 {
    font-family: 'LucidaConsole';
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.uichat p, .uicrds p {
    text-shadow: #000000 1px 1px;
}

.uiplayers, .uisets, .uiinfo, .uicrds {
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatmsgs {
    height: 460px;
    max-height: 460px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;
}

.chatmsgs p {
    font-family: 'LucidaConsole';
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: #FFFF00;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF00;
}

::-webkit-scrollbar-thumb {
    background: #80808080;
}

::-webkit-scrollbar-thumb:hover {
    background: #AAAAAA80;
}

::-webkit-scrollbar-thumb:active {
    background: #90909080;
}

#chat {
    min-width: 492px;
    max-width: 492px;
    height: 20px;
    max-height: 20px;
    background-color: #00000080;
    color: white;
    border: none;
    outline: none;
    padding: 0;
    font-family: "Carlito";
    font-weight: bold;
}

#chatmark {
    width: 20px;
    height: 20px;
    background-color: #808080FF;
    color: white;
    padding: 0;
    border: none;
}

.textures {
    position: static;
    max-width: 420px;
    margin-left: 5px;
}

.textures button {
    width: 128px;
    height: 128px;
    font-size: 16px;
    font-family: 'LucidaConsole';
    text-shadow: #000000 1px 1px;
    image-rendering: pixelated;
    background-size: 768px 128px;
    outline: none;
    border: none;
    margin: 0;
    transition: text-shadow linear 0.25s;
}

.textures button:hover {
    transition: 0s;
    text-shadow: #000000 1px 1px, #FFFF00 0px 0px 5px;
}