@font-face {
    font-family: "Guessy";
    src: url("/font/guessy4.ttf");
}

@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: local('Carlito'), url('https://fonts.cdnfonts.com/s/19708/Carlito-Regular.woff') format('woff');
}

@font-face{
    font-family: 'Lucida Console';
    font-style: normal;
    font-weight: 400;
    src: local('Lucida Console'), url('https://fonts.cdnfonts.com/s/56356/lucon.woff') format('woff');
}

html, body {
    margin: auto;
    font-family: "Guessy";
    overflow: hidden;
    background-color: #808080;
}

canvas {
    font-smooth: never;
    -webkit-font-smoothing: none;
    height: 100%;
}

#chat {
    position: absolute;
    left: 545px;
    top: 9px;
    background-color: gray;
    border-style: none;
    outline: none;
    color: white;
    font-family: 'Calibri';
    font-weight: bold;
}

#chatmark {
    position: absolute;
    left: 690px;
    top: 7px;
}

.m {
    position: absolute;
    width: 128px;
    height: 128px;
    outline: none;
    border: none;
    background-color: #FFFFFF40;
}

.m:active {
    background-color: #00000040;
}

.n {
    position: absolute;
    width: 25px;
    height: 20px;
}

#info {
    left: 225px;
    top: 7px;
}

#discord {
    left: 250px;
    top: 7px;
}

#screenshot {
    left: 275px;
    top: 7px;
}

#up {
    right: 128px;
    bottom: 128px;
}

#left {
    right: 256px;
    bottom: 0px;
}

#down {
    right: 128px;
    bottom: 0px;
}

#right {
    right: 0px;
    bottom: 0px;
}

#shift {
    left: 0px;
    bottom: 0px;
}

.p {
    font-family: 'Lucida Console';
    z-index: 1;
    position: absolute;
    color: white;
    user-select: none;
}